/*
red 				: FF0803
dark blue 			: 092931
lighter dark blue 	: 2E5D64
*/


* {
	font-family: "helvetica";
	box-sizing: border-box;	
	/* margin: 0 auto;*/
} 

body {	
	background-color: #000000;
  	margin: 0 auto;
  	margin-bottom: 60px;
}

a {
	text-decoration: none;
	color: black;
}

header {
	color: #FF0803;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 70px;
	text-align: center;
}

#content {
	position: relative;

	height: calc(100vh - 81px - 60px);
	background-image: url(kanye.jpg);
	background-position: center;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 60px;  /* Height of the footer */
	width: 100%;
	background: #092931;
}

#footerList{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footerContent{
	display: inline-block;
	font-size: 11px;
	width: auto;
	height: 100%;
	background: #FF0803;

	padding-right: 15px;
}

.button {
    background-color: #FF0803; 
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 15px 32px; 
}

#centerButton {
	position: absolute;

	bottom: 20px; /* lifting it off of the bottom of #content */
	left: 50%; /* centers the element in the page wrt its left edge */
	margin-left: -115.164px; /* Pulls the element to the left */
	width: 230.328px; /* found this by inspecting the element in your original */
	height: 48px; /* same as above */
}

#kanyeQuote {
    font-size: 55px;
    font-weight: bold;
	color: #FF0803;
    text-align: center;
}